table{
  border-collapse: collapse;
  margin-top: 10px;
}

td{
  padding: 6px 12px;
  border-bottom: 1px solid #ddd;
}

td:first-child{
  font-weight: bold;
  border-right: 1px solid #ddd;
}

button{
  margin-right: 5px;
  padding: 5px 10px;
}